html, body {
    height: 100%;
    background-image: url("../img/86156468-seamless-pattern-background-food-and-ingredient-kids-hand-drawing-set-illustration-isolated-on-white.jpg");
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-weight: 100;
    font-family: 'Lato';
}

.container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.content {
    text-align: center;
    display: inline-block;
}

.title {
    font-size: 96px;
}

.welcome {
    background-color: #ffffff;
}

.register label {
    font-weight: bold;
}

.register-col {
    background-color: rgba(255, 255, 255, 0.7);
}

.error {
    background-color: rgba(255, 0, 0, 0.9);
}